page-landing {

  ion-content {
    background: linear-gradient(#EFEFBB, #D4D3DD);
  }

  img {
  }

  .logo {
    padding-left: 25%;
    padding-top: 20%;
  }

  .button-wrap {
    position: absolute;
    bottom: 10px;
    width: 100%;
  }

  .login-button {
    margin-bottom: 20px;
  }

  .signup-button {

  }
}
