page-landing {

  ion-content {
    background: linear-gradient(#EFEFBB, #D4D3DD);
  }

  ion-list-header {
    background-color: transparent !important;
  }

  img {
  }

  .logo {
    width: 70%;
    margin-left: 15%;
  }

  .button-wrap {
    position: absolute;
    bottom: 10px;
    width: 100%;
  }

  .cream-button {
    margin-bottom: 20px;
    font-size: 1.4em;
  }
  .login-button {
    margin-bottom: 20px;
  }

  .signup-button {

  }
}
