<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>NiceCream Trucks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="drivers">
    <ion-list>
      <button ion-item *ngFor="let driver of drivers" (click)="viewDriver(driver)">
        <img [src]="driver.profilePhoto" item-left />
        <p class="name">{{driver.name}}</p>
        <p class="bio">{{driver.bio}}</p>
      </button>
    </ion-list>
  </div>
</ion-content>
