page-signup1 {

  ion-content {
    background: linear-gradient(#EFEFBB, #D4D3DD);
  }
  img {
    border-radius: 50%;
    width: 100%;
    padding: 3%;
  }
  .creamer {
    color: #606060;
    padding-top: 50%;
    font-size: 2em;
  }
}
