page-profile {



  .profilePhoto {
    border-radius: 50%;
    border: 3px solid color($colors, 'primary');
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
  }

  .user-container {
    background-color: #e8e8e8;
    padding-bottom: 2vw;
    padding-top: 12vw;
    margin-top: -15vw;
  }

  .item-price {
    color: limegreen;
    text-align: right;
  }

  .item-name {
    margin-left: -4%;
  }

  .item-photo {
    width: 70px !important;
    height: 70px !important;
  }

  .item-description {
    word-wrap: break-word;
  }


  .button-wrap {
    position: absolute;
    top: 20px;
    width: 100%;
  }

  .login-button {
    margin-bottom: 20px;
  }

  .signup-button {

  }

  .delete-button{
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 9vw;
    height: 9vw !important;
    background-color: white;
    // border: color($colors, 'danger') solid 1px;
  }

  .delete-icon {
    font-size: 2em;
    text-align: center;
  }
}
