<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!showImage">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>NiceCream Map</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="showImage" class="img-container">
    <img src='assets/imgs/splash.png' />
    <div *ngIf="showSpinner">
      <ion-spinner class='spinner'></ion-spinner>
    </div>
  </div>


  <div id="map"></div>

  <div *ngIf="drivers" class="length-container">
    <p ion-text text-center class="length-text"><span ion-text color='primary'>{{drivers.length}}</span> Ice Cream Trucks Nearby!</p>
  </div>


</ion-content>
