page-signup2 {
  ion-content {
    background: linear-gradient(#EFEFBB, #D4D3DD);
  }

  ion-item {
    background-color: transparent !important;
  }

  ion-list-header {
    background-color: transparent !important;
  }

  img {
    padding-bottom: 0%;
    border-radius: 50% !important;
    border: color($colors, 'primary') 2px solid;
  }

  .photo-button{
    position: absolute;
    bottom: 7%;
    right: 4%;
    border: color($colors, 'primary') 1px solid;
    background-color: white;
    border-radius: 50%;
    width: 56px;
    height: 56px;
  }
  .no-photo-button{
    border: color($colors, 'primary') 1px solid;
    background-color: white;
    border-radius: 50%;
    width: 56px;
    height: 56px;
  }

  .gallery-button {
    bottom: 0px;
    position: relative;
    width: 100%;
  }

}
